/*MainWindow background*/
QWidget, QGridLayout
{
    color: #000000;
    background-color: #E5E5E5;
    font-size: 20;
}

QLabel
{
    border: 0px solid black;
    font-size: 20;
}

QComboBox {
    background-color: #FFFFFF;
    color: #000000;
    width: 200px;
    border: 1px solid #3A3939;
    border-radius: 2px;
    padding: 2px;
    selection-background-color: #FFFFFF;
    text-align: center;
    font-size: 20;
    combobox-popup: 0;
}

QComboBox:hover, QAbstractSpinBox:hover, QLineEdit:hover, QTextEdit:hover, QPlainTextEdit:hover, QAbstractView:hover,QTreeView:hover
{
    border: 1px solid #78879b;
    color: #333333;
}

/*boja vec odabranog*/
QComboBox:on
{
    background-color: #FFFFFF;          
    padding-top: 3px;
    padding-left: 4px;
    selection-background-color: #FFFFFF;
    width: 200px;
}

/*elementi u dropdownu*/
QComboBox QAbstractItemView
{
    background-color: #FEFEFE;
    border-radius: 2px;
    border: 1px solid #444444;
    selection-background-color: #d9defa; /*element koji hoveram*/
    selection-color: #333333;
    text-align: center;
    width: 200px;
}

QComboBox::drop-down
{
    subcontrol-origin: padding;
    subcontrol-position: top right;
    width: 15px;

    border-left-width: 0px;
    border-left-color: darkgray;
    border-left-style: solid;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

QtWidgets.QGridLayout , QMainWindow
{
    margin: 50px;
}

QScrollBar:vertical {              
        border: 1px solid #999999;
        background:white;
        width:10px;    
        margin: 0px 0px 0px 0px;
    }
    QScrollBar::handle:vertical {
        background: qlineargradient(x1:0, y1:0, x2:1, y2:0,
        stop: 0 rgb(32, 47, 130), stop: 0.5 rgb(32, 47, 130), stop:1 rgb(32, 47, 130));
        min-height: 0px;
    }
    QScrollBar::add-line:vertical {
        background: qlineargradient(x1:0, y1:0, x2:1, y2:0,
        stop: 0 rgb(32, 47, 130), stop: 0.5 rgb(32, 47, 130),  stop:1 rgb(32, 47, 130));
        height: 0px;
        subcontrol-position: bottom;
        subcontrol-origin: margin;
    }
    QScrollBar::sub-line:vertical {
        background: qlineargradient(x1:0, y1:0, x2:1, y2:0,
        stop: 0  rgb(32, 47, 130), stop: 0.5 rgb(32, 47, 130),  stop:1 rgb(32, 47, 130));
        height: 0;
        subcontrol-position: top;
        subcontrol-origin: margin;
    }

